@import "reset";
@import "variables/global";
@import "themes/themes";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.main {
    display: flex;
    height: calc(100vh - var(--navBarHeight));
}
