@import "reset";
@import "variables/global";
@import "themes/themes";

.app {
    font: var(--font-m);
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
}

.main {
    display: flex;
}

.app_redesigned {
    min-height: 100vh;
    font: var(--font-m-redesigned);
    background: var(--bg-redesigned);
    color: var(--text-redesigned);
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px; /* закругления плашки */
    background: var(--inverted-primary-color); /* цвет плашки */
    border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
