:root {
    --font-family-main: "Ð¡onsolas", "Times New Roman", serif;
    --font-family-text-redesigned: "Nunito Sans", sans-serif;
    --font-family-header-redesigned: "Roboto", sans-serif;
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);
    --navBarHeight: 60px;

    // z-index

    --modal-z: 10;

    // colors

    --overlay-color: rgb(0 0 0 / 60%);
    --light-red-color: #ff0303;
    --dark-red-color: #b30303;
}
