.sideBar {
    width: 300px;
    height: calc(100vh - var(--navBarHeight));
    padding: 20px;
    background: var(--inverted-bg-color);
    transition: 0.3s width;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .switchersBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnVerticalOrientation {
        flex-direction: column;
    }
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    align-self: flex-start;
}

.collapseButton {
    position: absolute;
    right: -35px;
    bottom: 40px;
    background: var(--inverted-bg-color);
}

.close {
    width: 100px;
    align-self: center;
}

.linksSideBarCollapsed {
    align-self: center;
}
