.sideBarItem {}

.icon {
    fill: var(--inverted-primary-color);
    height: 30px;
    width: 30px;
}

.linkLabelColor {
    color: var(--inverted-primary-color);
}

.linkLabel {
    display: none;
}
