.navLink {
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}
