.navLink {
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.primary-dark {
    color: var(--primary-color);
}

.secondary-dark {
    color: var(--inverted-secondary-color);
}
