.listBox {
    position: relative;
}

.btn {
    border-radius: 5px;
    border: none;
    color: var(--primary-color);
    padding: 5px 10px;
    background: var(--bg-input);
    width: 100%;
}

.options {
    list-style: none;
    background: var(--dropdown-bg);
    position: absolute;
    width: 100%;
    border-radius: 5px;
    margin: 2px 0;
    padding: 5px 0;
}

.directionTop {
    bottom: 100%;
}

.directionDown {
    top: 100%;
}

.item {
    white-space: nowrap;
}

.active {
    background: var(--card-bg);
}

.disabled {
    opacity: 0.7;
}
