.text {
    color: var(--primary-color);
    padding: 5px 10px;
}

.title {
    font: var(--font-l);
}

.message {

}

.primary {
    color: var(--primary-color);
}

.red {
    color: var(--dark-red-color);
}
