.dark {
    --orange: #eba4a4;
    --bg-color: #090949;
    --bg-input: #131399;
    --inverted-bg-color: #fff;
    --primary-color: #f1f2f9;
    --inverted-primary-color: #0c3edd;
    --secondary-color: #08dd08;
    --inverted-secondary-color: #bcf2bc;
}

.neon {
    --orange: #eba4a4;
    --bg-color: #2e9f1d;
    --bg-input: #607d17;
    --inverted-bg-color: #f5fbf4;
    --primary-color: #f5fbf4;
    --inverted-primary-color: #2e9f1d;
    --secondary-color: #08dd08;
    --inverted-secondary-color: #bcf2bc;
}

:root {
    --orange: #ff0303;
    --bg-color: #e8e8ea;
    --bg-input: #d8d8ef;
    --inverted-bg-color: #041c65;
    --primary-color: #0449e0;
    --inverted-primary-color: #d6dcf5;
    --secondary-color: #277208;
    --inverted-secondary-color: #8a8ae9;
}
