.dark {
    --bg-color: #090949;
    --inverted-bg-color: #fff;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-secondary-color: #105310;
}

.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #041c65;
    --primary-color: #041c65;
    --inverted-primary-color: #ccd3e2;
    --secondary-color: #0449e0;
    --inverted-secondary-color: #8a8ae9;
}
