.articleDetailsPage {
    height: calc(100vh - var(--navBarHeight));
    overflow-y: auto;
    width: 100%;
}

.commentTitle,
.recommendationsTitle,
.recommendationsList {
    padding: 20px 30px 0;
}
