.Button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
}

.clear {
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

.primary {
    border: 1px solid blue;
    border-radius: 5px;
    background: blue;
    outline: none;
    color: white;
}
