.Button {
    cursor: pointer;
    margin: 10px;
}

.clear {
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-secondary-color);
}

.clear-inverted {
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

.primary {
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--inverted-secondary-color);
    border-radius: 5px;
    background: none;
    color: var(--inverted-secondary-color);
}

.outline-inverted {
    border: 1px solid var(--inverted-primary-color);
    border-radius: 5px;
    background: none;
    color: var(--inverted-primary-color);
}

.small {
    font: var(--font-m);
    padding: 5px 10px;
}

.large {
    font: var(--font-l);
    padding: 9px 14px;
}

.extra {
    font: var(--font-xl);
    padding: 13px 18px;
}
