.navBar {
    height: var(--navBarHeight);
    padding: 10px 20px;
    background: var(--inverted-bg-color);
    border-bottom: 1px solid var(--bg-color);
}

.logo {
    color: var(--inverted-primary-color);
}
