.articlePageFilter {

}

.filterAndSwitcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterInput {
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 0;
}
