.profile {
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.readonlyBorder {
    border: 1px solid var(--secondary-color);
}

.profileAvatar {
    width: 100px !important;
    height: 100px !important;
}
