.articleList {
    height: 100%;
}

.articlesFilter {
    margin-bottom: 30px;
}

.articleItem {
}

.plateItemsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}
