.commentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

.comment {
    margin-left: 10px;
}

.bottomSkeleton {
    margin-top: 10px;
}

.isLoading {
    border: none;
}
